body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
    margin: 0;
}
h4 {
    text-align: center;
    margin: 0;
}
h3 {
    text-align: center;
    margin: 0;
}

#vlr_despesa {
    background: red;
}